<h2>Enter a word</h2>
<form action="/input" method="post">

  <div class="form-group">
    <input type="text" name="word_name" class="form-control">
  </div>

  <p style="<%= @error %>" class="error">Oops! you've already added that word. Try adding a new word.</p>

  <button type="submit" name="button" class="btn">Add Word</button>
</form>

<div style="<%= @list %>" class="list">
  <h2>Your words</h2>
  Click on a word to add your definitions!
  <ul>
    <% @words.each do |word| %>
      <li><a href="word/<%= word.id %>"><%= word.name %></a></li>
    <% end %>
  </ul>

  <a href="/sort"><button class="btn">Sort A-Z</button></a>
  <a href="/reset"><button class="btn">Reset Sort</button></a>

  <a href="/all"><button class="btn">View All</button></a>
  <a href="/random_word"><button class="btn">Random Word</button></a>
</div>
