<h2>Add words</h2>
<form action="/input" method="post">

  <div class="form-group">
    <label for="word">Enter a word:</label>
    <input type="text" name="word" class="form-control">
  </div>

  <div class="form-group">
    <label for="definition">Enter a definition:</label>
    <input type="text" name="definition" class="form-control">
  </div>

  <button type="submit" name="button" class="btn btn-primary">Add Word</button>
</form>
