<h1><%= @name %></h1>
<% @definitions.each do |definition| %>
  <p><strong>Definition:</strong> <%= definition %></p>
<% end %>

<a href="/delete/<%= @id %>"><button type="button" name="button" class="btn btn-primary">Delete</button></a>
<a href="/"><button type="button" name="button" class="btn btn-primary">Return to List</button></a>

<h4>Add additional definitions</h4>
<form action="/definition/<%= @id %>" method="post">

  <div class="form-group">
    <label for="definition">Enter definition</label>
    <input type="text" name="definition" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-primary">Add Definition</button>
</form>
